body {
  background-color: black;
}

#instructions {
  background-color: #2E2E2E;
  height: 400px;
  width:380px;
  position: absolute;
  left:0;
  top:0;
  border: 2px ridge orange;
  font-size: 25px;
  color: yellow;
  font-family: 'VT323', monospace;
  padding: 0px 10px;
  text-align: center;
}
