#bomberman2{
  position: absolute;
  width:13px;
  height:22px;
  left:380px;
  top:0px;
  background: url('../images/blue_bomberman.gif');
  z-index: 1;
}

#bomberman2.front2 {background-position: 0px 0px}
#bomberman2.front-one2 {background-position: -14.5px 0px}
#bomberman2.front-two2 {background-position: -29px 0px}

#bomberman2.back2 {background-position: -43.5px 0px}
#bomberman2.back-one2 {background-position: -58px 0px}
#bomberman2.back-two2 {background-position: -72.5px 0px}

#bomberman2.left2 {background-position: -87px 0px;}
#bomberman2.left-one2 {background-position: -101.5px 0px;}
#bomberman2.left-two2 {background-position: -116px 0px;}

#bomberman2.right2 {background-position: -130.5px 0px;}
#bomberman2.right-one2 {background-position: -145px 0px;}
#bomberman2.right-two2 {background-position: -159.5px 0px;}
